body {
  background-color: white;
  color: #000;
  font-family: sans-serif;
  background: white;
  padding: 0px;
  margin: 0px;
}

h1, h2 {
    width: 100%;
    text-align: center;
}

#content {
    float: right;
    width: 100%;
}

#nav {
    float: right;
    width: 100%;
    text-align: center;
    padding: 1em;
}

#nav a {
    padding-left: 1em;
    padding-right: 1em;
}

#timing {
    text-align: center;
    padding: 1em;
    font-style: italic;
}

#foot {
    padding: 1em;
    font-size: smaller;
    font-style: italic;
    text-align: center;
}

#search {
    text-align: center;
}

table.log {
    margin-left: auto;
    margin-right: auto;
}

table.log th {
    padding: 2em;
    font-size: larger;
}

table.activity {
    border-collapse: collapse;
    border-width: thin;
    border-style: dashed;
    margin-left: auto;
    margin-right: auto;
}
table.activity th {
    border-width: thin;
    border-style: dashed;
    padding-left: 0.3em;
    padding-right: 0.3em;
    text-align: center;
}
table.activity td {
    border-width: thin;
    border-style: dashed;
    padding-left: 0.3em;
    padding-right: 0.3em;
    width: 4em;
    text-align: center;
}

table.mactivity {
    border-collapse: collapse;
    border-width: thin;
    border-style: dashed;
    margin-left: auto;
    margin-right: auto;
}
table.mactivity th {
    border-width: thin;
    border-style: dashed;
    padding-left: 0.3em;
    padding-right: 0.3em;
    text-align: center;
}
table.mactivity td {
    border-width: thin;
    border-style: dashed;
    padding-left: 0.3em;
    padding-right: 0.3em;
    width: 5em;
    text-align: center;
}

.meta { color: #999; }
.even { background-color: #f0f0f0; }
.odd { background-color: #fefefe; }
